@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e1e;
  --primary: #d4d4d4;
  --secondary: #f0db4f;
  --typescript: #007acc;
}

html,
body {
  font-family: monospace;
  background: var(--background);
}