* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: #1e1e1e;
}

#root {
  padding: 0;
}

.split {
  height: calc(100vh - 59px);
}

@media (min-width: 480px) {
  .split {
    display: flex;
    flex-direction: row;
  }

  .gutter {
    height: 100% !important;
  }

  .gutter.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: col-resize;
  }
}

.gutter {
  background-color: #3f3f3f;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

.editor {
  width: 100%;
  height: 100%;
  padding: 24px 0 48px;
}

.editor-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 12px;
  display: flex;
  gap: 5px;
}

.button-toolbar {
  background: none;
  border: none;
  color: #dcdcdc;
  padding: 0;
}

.button-toolbar:hover {
  color: #999999;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  box-shadow: 0 0 12px 0 #3f3f3f;
  background-color: #1a1a1a;
}

.logo svg {
  position: relative;
  z-index: 1;
  margin-top: 5px;
}

.gradient {
  position: relative;
}

.gradient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(1deg, #fff95b 0%, #ff930f 100%);
  filter: blur(20px);
  opacity: 0.5;
  transition: opacity 0.3s;
  border-radius: inherit;
}

.gradient::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.logo .title {
  color: white;
  font-size: 22px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.logo .version {
  color: #707070;
  font-size: 12px;
  font-family: monospace;
  margin-top: 10px;
}

.toolbar {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 1;
  padding: 12px;
  display: flex;
  gap: 5px;
}

#result {
  width: 100%;
  height: 100%;
  color: #dcdcdc;
  text-align: left;
  font-family: monospace;
  font-size: 14px;
  line-height: 19px;
  white-space: pre;
}

@media (max-width: 480px) {
  #result {
  }
}
