@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e1e;
  --primary: #d4d4d4;
  --secondary: #f0db4f;
  --typescript: #007acc;
}

html,
body {
  font-family: monospace;
  background: var(--background);
}

@media (min-width: 640px) {
  .split {
    display: flex;
    flex-direction: row;
  }

  .gutter {
    height: 100% !important;
  }

  .gutter.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: col-resize;
  }
}

.gutter {
  background-color: #3f3f3f;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}